
<div style="text-align:center">
	<%= simple_form_for(@trip, html: {:class => 'form-horizontal'} ) do |f| %>

<div class="well">
	<div class="dropdown">
		<%= f.association :activity, label: 'Activity', input_html: {:class => 'form-control'} %>
	</div>
		<%= f.input :address, :input_html =>{:id => 'trip_address'}, :placeholder => 'Where are you leaving from?' %>
	<div class="dropdown">
		<%= f.association :location_end, label: 'Destination', input_html: {:class => 'form-control', placeholder: 'Destination'} %>
	</div>
	<br/>

	<div class="input-group">
	<%= f.input :description, label: false, input_html: {:class => 'form-control', placeholder: 'Description', } %>
    <button class="btn btn-danger" type="button">Not sure where to go?</button>
	</div>

	<div class="input-group">
	<%= f.attachment_field :image, label: false, input_html: {:class => 'form-control', placeholder: 'Description', } %>
	</div>

	<div class"row">
		<div class="col-md-6 col-xs-6">
			<div class="form-group">
				<div class="input-group date">
					<%= f.date_field :date_start, as: :date, start_day: Date.today %>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-6">
			<div class="form-group">
				<div class="input-group date">
					<%= f.date_field :date_end, as: :date, start_day: Date.today %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4 col-xs-3 col-md-offset-1 col-xs-offset-1">
			<div class="form-group">
				<%= f.input :cost, as: :decimal, label: false, input_html: {:class => 'form-control', placeholder: 'Cost', } %>
			</div>
		</div>
		<div class="col-md-4 col-xs-4 col-md-offset-2 col-xs-offset-2">
			<div class="form-group">	
		<ul class="list-unstyled" style="text-align:left">
		<li><%= f.input :has_car, label:'Have Car', as: :boolean, checked_value: true, unchecked_value: false %></li>
		<li><%= f.input :pick_up, label:'Can Pick Up En Route', as: :boolean, checked_value: true, unchecked_value: false %></li>
		</ul>
		</div>
		</div>
	</div>
	
	<div style="text-align:center;">
	<%= f.submit "Submit".html_safe, :class => 'btn btn-md btn-danger' %>
	</div>
	</div>

	<% end %>
</div>