<h1 style="text-align:center; color:#F1F1F1"><%= @record_label.name %> </h1>

        <div class="container-fluid">


                <ul class="row">
                        <% @record_label.artists.each do |artist| %>
                                        <li class="col-lg-3 col-md-3 col-sm-3 col-xs-4"> <%= link_to(image_tag(artist.pic_url, size:'200x200'), artist_path(artist)) %><%= artist.name %> </li>
                        <% end %>
                </ul>
        </div>


<ul class="list-inline" style="text-align:center">

        <li style='text-align:center'>
        	<%= link_to "Edit", edit_record_label_path(@record_label), :class => 'btn btn-md btn-danger' %>
        </li>
        <li style='text-align:center'>
        	<%= link_to "Record Labels", record_labels_path, :class => 'btn btn-md btn-danger' %>
        </li>
        <li style='text-align:center'>
        	<%= link_to 'Delete', @record_label, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-md btn-danger' %>
        </li>
		
	</ul>