
<div style="text-align:center">
	<%= simple_form_for(@artist, html: {:class => 'form-horizontal'} ) do |f| %>

<div class="well">
	<%= f.input :name, label: false, input_html: {:class => 'form-control', placeholder: 'Name', } %>

	<br/>

	<%= f.input :pic_url, label: false, input_html: {:class => 'form-control', placeholder: 'Artist Picture URL'} %>
	<br/>
	<div class="dropdown">
		<%= f.association :record_label, label: 'Record Label', input_html: {:class => 'form-control', placeholder: 'Record Label'} %>
	</div>

	<br/>
	<div class="dropdown">
		<%= f.association :genre, label: 'Genre', input_html: {:class => 'form-control', placeholder: 'Genre'} %>
	</div>
	<br/>
	
	<div style="text-align:center;">
	<%= f.submit "Submit".html_safe, :class => 'btn btn-lg btn-default' %>
	</div>
	</div>

	<% end %>
</div>

