<!DOCTYPE html>
<html>
<head>
  <title>TripMash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<i class="notice"><%= notice %></i>
<i class="alert"><%= alert %></i>

<%= render "layouts/main_nav" %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
