<!DOCTYPE html>
<html>
<head>
  <title>TripMash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="jquery.geocomplete.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/main_nav" %>
	<%= yield %>
	<%= render "layouts/footer" %>
</body>
</html>
